/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  h1 {
    font-size: 50px;
    padding: 10px 0;
  }
 .bl, .list {
   display: block;
 }
 .bl:not(:first-child) {
   margin-top: 15px;
 }
 ol, ul {
   width: 100%;
 }
 
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}