@import url('reset.css');

body {
  background-color: #ccc;
}
.content {
  max-width: 992px;
  margin: auto;
  padding: 15px;
  background-color: white;
  text-align: center;
}
h1 {
  font-size: 100px;
  margin: auto;
  max-width: 992px;
  text-align: center;
}
.header {
  font-size: 30px;
  width: 300px;
  text-align: center;
  margin: auto;
}
li {
  text-align: center;
  margin-top: 5px;
}
ol, ul {
  margin-top: 20px;
  background-color: #ccc;
  width: 300px;
  text-align: center;
  padding: 10px;
  min-height: 105px;
}
.list {
  display: inline-block;
}
.bl-wrap {
  display: inline-block;
}
.bl {
  display: block;
  position: relative;
  float: left;
}
.sl {
  font-size: 45px;
  text-align: center
}
.clearfix:after {
  content:'';
  display:table;
  clear:both;
}

.popup-back {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  width: 400px;
  min-height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding: 25px;
}

.popup-hidden .popup-back,
.popup-hidden .popup-content {
  display: none;
}
.button.is-rounded {
  border-radius: 20px;
  padding: 10px 10px;
  border: 2px solid pink;
  background-color: transparent;  
}
.button.is-rounded:hover {
  background-color: papayawhip
}
.btn.close {
  position: absolute;
  right: 5px;
  top: 1px;
  width: 20px;
  height: 26px;
  border: 0;
  outline: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.btn.close .fa-times {
  transition: all .3s ease-in-out .2s;
}
.btn.close:hover .fa-times {
  transform: rotate(90deg);
}
label {
  text-align: center;
  margin-top: 5px;
}
